In [22]:
import pandas as pd

path_to_train = './data/train.csv'
path_to_test = './data/test2.csv'

train = pd.read_csv(path_to_train, encoding='utf-8', usecols=['user_id', 'ts_listen', 'listen_type'])
test = pd.read_csv(path_to_test, encoding='utf-8', usecols=['user_id', 'ts_listen', 'listen_type'])

df = pd.concat([train, test], ignore_index=True)
df.tail()

          ts_listen  listen_type  user_id
7578747  1479664431            1    12641
7578748  1480358099            1    10055
7578749  1480616853            1     1029
7578750  1479644510            1     4630
7578751  1480491885            1     6467

In [23]:
df = df.sort_values(by=['user_id', 'ts_listen'], axis=0)
df.tail()

          ts_listen  listen_type  user_id
7575803  1478016326            1    19915
569368   1477512816            0    19916
7563826  1478017434            1    19916
4791398  1477926978            0    19917
7565747  1478009685            1    19917

In [3]:
counter = 0
prev_user = 0
prev_listen_type = 0

def inline_iterate(row):
    #row = tp[1]
    global counter, prev_user, prev_listen_type
    
    if(row['listen_type'] != prev_listen_type):
        prev_listen_type = row['listen_type']
        counter = 0
        
    if(row['user_id'] != prev_user):
        prev_user = row['user_id']
        counter = 0
    
    if(counter < 10):
        counter += 1
        
    return counter

inline = [inline_iterate(row) for index,row in df.iterrows()]
#inline = list(map(inline_iterate, df.iterrows()))
inline

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 1,
 2,
 3,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 10,
 10,
 10,
 10,
 10,
 1,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 ...]

In [24]:
df['inline'] = inline

In [25]:
df['inline_flow'] = df.apply(lambda row: row['inline'] if row['listen_type'] == 1 else 0, axis=1)
df['inline_not_flow'] = df.apply(lambda row: row['inline'] if row['listen_type'] == 0 else 0, axis=1)

In [26]:
df.tail()

,ts_listen,listen_type,user_id,inline,inline_flow,inline_not_flow
7575803,1478016326,1,19915,2,2,0
569368,1477512816,0,19916,1,0,1
7563826,1478017434,1,19916,1,1,0
4791398,1477926978,0,19917,1,0,1
7565747,1478009685,1,19917,1,1,0

In [27]:
df = df.sort_index()
df.tail()

,ts_listen,listen_type,user_id,inline,inline_flow,inline_not_flow
7578747,1479664431,1,12641,1,1,0
7578748,1480358099,1,10055,4,4,0
7578749,1480616853,1,1029,6,6,0
7578750,1479644510,1,4630,1,1,0
7578751,1480491885,1,6467,10,10,0

In [30]:
test_inline = df.iloc[range(len(train), len(train)+len(test))][['inline', 'inline_flow', 'inline_not_flow']]
test_inline.to_csv('./data/features/inline.test.csv', encoding='utf-8', index=False)

train_inline = df.iloc[range(len(train))][['inline', 'inline_flow', 'inline_not_flow']]
train_inline.to_csv('./data/features/inline.train.csv', encoding='utf-8', index=False)

Спробуємо, чи є покращення?

In [31]:
from sklearn.ensemble import RandomForestClassifier
import validation as v
import model as m

train = pd.read_csv(path_to_train, encoding='utf-8', usecols=['genre_id', 'user_id', 'context_type', 'ts_listen', 'release_date', 'platform_name', 'platform_family', 'media_duration', 'listen_type', 'user_gender', 'is_listened'])
train = pd.concat([train, train_inline], axis=1)

train.head()

,genre_id,ts_listen,context_type,release_date,platform_name,platform_family,media_duration,listen_type,user_gender,user_id,is_listened,inline,inline_flow,inline_not_flow
0,25471,1480597215,12,20040704,1,0,223,0,0,9241,0,10,0,10
1,25571,1480544735,0,20060301,2,1,171,0,0,16547,1,5,0,5
2,16,1479563953,1,20140714,2,1,149,1,1,7665,1,1,1,0
3,7,1480152098,0,20001030,0,0,240,0,1,1580,0,10,0,10
4,7,1478368974,0,20080215,0,0,150,0,1,1812,1,10,0,10
5,7,1478382544,0,20080215,0,0,150,0,1,1812,1,10,0,10
6,7,1478338409,0,20080215,0,0,150,0,1,1812,1,10,0,10
7,7,1478353709,1,20080215,1,0,150,1,1,10325,1,10,10,0
8,7,1479130924,0,20080215,0,0,150,0,1,1812,1,10,0,10
9,7,1479214304,1,20080215,1,2,150,1,1,51,1,10,10,0
10,7,1478673075,0,20080215,0,0,150,0,0,1089,1,10,0,10
11,7,1479279494,0,20080215,0,0,150,0,1,1812,1,10,0,10
12,7,1478356603,1,20080215,0,0,188,1,0,822,1,1,1,0
13,7,1479968326,1,20080215,0,0,150,1,0,2946,0,10,10,0
14,7,1479991070,1,20080215,1,0,150,1,0,5248,0,10,10,0
15,7,1478445244,12,20080215,2,1,150,0,0,1556,1,10,0,10
16,7,1478644646,11,20080215,2,1,150,0,0,1709,1,10,0,10
17,7,1478892170,14,20080215,2,1,150,0,0,336,1,10,0,10
18,7,1480084581,0,20080215,0,0,150,0,1,1812,1,10,0,10
19,7,1480454926,1,20080215,0,0,150,1,1,3570,1,10,10,0
20,7,1480236062,0,20080215,0,0,150,0,1,1812,1,10,0,10
21,7,1478806000,0,20080215,2,1,150,0,0,1284,1,10,0,10
22,7,1479409743,6,20080215,0,0,150,1,1,754,1,10,10,0
23,7,1480113489,1,20080215,0,2,150,1,1,7599,1,10,10,0
24,7,1480340322,1,20080215,0,0,150,1,1,3570,0,7,7,0
25,7,1478079016,3,20080215,2,1,197,0,0,65,1,10,0,10
26,7,1478085122,3,20080215,2,1,210,0,0,65,1,10,0,10
27,7,1478084056,3,20080215,2,1,188,0,0,65,1,10,0,10
28,7,1479757473,0,20080215,1,0,150,0,0,1709,1,10,0,10
29,7,1480239881,0,20080215,0,0,150,0,0,1089,0,10,0,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7558804,0,1480520025,1,19910101,0,0,268,1,0,1643,0,10,10,0
7558805,0,1480529223,1,19910101,0,0,268,1,1,10413,0,10,10,0
7558806,0,1480530830,1,19910101,0,0,268,1,0,1727,0,10,10,0
7558807,0,1480542285,1,19910101,0,0,268,1,0,44,0,10,10,0
7558808,0,1480496669,1,19910101,0,0,268,1,0,541,0,10,10,0
7558809,0,1479571454,0,19910101,1,0,268,0,1,3047,1,6,0,6
7558810,0,1479550619,6,19910101,0,0,268,1,1,246,1,10,10,0
7558811,0,1479592608,0,19910101,0,0,268,0,0,13813,1,10,0,10
7558812,0,1479787905,1,19910101,0,0,268,1,1,1940,1,10,10,0
7558813,0,1479840072,1,19910101,0,0,268,1,0,1114,0,8,8,0
7558814,0,1480080713,1,19910101,2,1,268,1,0,1492,1,10,10,0
7558815,0,1480103363,0,19910101,1,0,268,0,0,7593,1,10,0,10
7558816,0,1480046939,1,19910101,0,0,268,1,0,44,0,10,10,0
7558817,0,1480068900,5,19910101,0,0,268,1,1,1606,1,3,3,0
7558818,0,1480050314,1,19910101,0,0,268,1,0,3848,1,10,10,0
7558819,0,1480080411,0,19910101,1,0,268,0,0,6842,1,10,0,10
7558820,0,1480085438,1,19910101,1,0,268,1,0,444,1,10,10,0
7558821,0,1480023576,5,19910101,0,0,268,1,0,5156,0,10,10,0
7558822,0,1480242989,0,19910101,0,0,268,0,0,1198,1,10,0,10
7558823,0,1480337129,0,19910101,1,0,268,0,1,8859,1,10,0,10
7558824,0,1480452017,5,19910101,2,1,268,1,0,2697,1,10,10,0
7558825,0,1480452834,1,19910101,2,1,268,1,1,2887,1,10,10,0
7558826,0,1480438567,1,19910101,1,0,268,1,0,1166,1,10,10,0
7558827,0,1480407023,1,19910101,0,0,268,1,1,397,1,10,10,0
7558828,0,1480434330,1,19910101,0,0,268,1,0,1585,0,10,10,0
7558829,0,1480398097,23,19910101,1,0,268,1,0,2592,0,4,4,0
7558830,0,1479973465,2,20161118,0,0,974,0,0,9028,0,9,0,9
7558831,0,1479993377,4,20161012,0,2,175,1,0,393,0,2,2,0
7558832,0,1479936918,4,20161012,0,0,126,1,1,4507,1,10,10,0
7558833,0,1480029275,4,20161124,0,0,177,1,1,8129,1,10,10,0

In [32]:
x_cols = ['genre_id', 'user_id', 'context_type', 'ts_listen', 'release_date', 'platform_name', 'platform_family', 'media_duration', 'listen_type', 'user_gender', 'inline', 'inline_flow', 'inline_not_flow']
y_col = 'is_listened'
clf = RandomForestClassifier(n_estimators=30, random_state=42)

clf, auc = m.train_and_validate(train, x_cols, y_col, clf, v.only_flow_split_train_validation_by_last_record)
auc

0.61239106622979445