In [1]:
import pandas as pd

path_to_train = './data/train.csv'
path_to_test = './data/test.csv'

train = pd.read_csv(path_to_train, encoding='utf-8', usecols=['ts_listen'])
test = pd.read_csv(path_to_test, encoding='utf-8', usecols=['ts_listen'])

In [2]:
from datetime import datetime

In [3]:
datetime.fromtimestamp(train.loc[0]['ts_listen'])

datetime.datetime(2016, 12, 1, 14, 0, 15)

In [4]:
train.loc[0]['ts_listen']

1480597215

In [5]:
train['ts_listen_dt'] = pd.to_datetime(train['ts_listen'],unit='s')
test['ts_listen_dt'] = pd.to_datetime(test['ts_listen'],unit='s')
train.head()

    ts_listen        ts_listen_dt
0  1480597215 2016-12-01 13:00:15
1  1480544735 2016-11-30 22:25:35
2  1479563953 2016-11-19 13:59:13
3  1480152098 2016-11-26 09:21:38
4  1478368974 2016-11-05 18:02:54

In [7]:
train['ts_listen_hour'] = train['ts_listen_dt'].dt.hour
test['ts_listen_hour'] = test['ts_listen_dt'].dt.hour

train['ts_listen_dayofweek'] = train['ts_listen_dt'].dt.dayofweek
test['ts_listen_dayofweek'] = test['ts_listen_dt'].dt.dayofweek

train.head()

    ts_listen        ts_listen_dt  ts_listen_hour  ts_listen_dayofweek
0  1480597215 2016-12-01 13:00:15              13                    3
1  1480544735 2016-11-30 22:25:35              22                    2
2  1479563953 2016-11-19 13:59:13              13                    5
3  1480152098 2016-11-26 09:21:38               9                    5
4  1478368974 2016-11-05 18:02:54              18                    5

In [10]:
path_to_test_ts_listen = './data/features/ts_listen.test.csv'
path_to_train_ts_listen = './data/features/ts_listen.train.csv'
new_cols = ['ts_listen_dayofweek','ts_listen_hour']

test_ts_listen = test[new_cols]
test_ts_listen.to_csv(path_to_test_ts_listen, encoding='utf-8', index=False)

train_ts_listen = train[new_cols]
train_ts_listen.to_csv(path_to_train_ts_listen, encoding='utf-8', index=False)