# Linear model

In [1]:
import pandas as pd

path_to_train = './train.csv'

train = pd.read_csv(path_to_train, encoding='utf-8')

In [2]:
print len(train["artist_id"].unique())
train.head()

67142

,genre_id,ts_listen,media_id,album_id,context_type,release_date,platform_name,platform_family,media_duration,listen_type,user_gender,user_id,artist_id,user_age,is_listened
0,25471,1480597215,222606,41774,12,20040704,1,0,223,0,0,9241,55164,29,0
1,25571,1480544735,250467,43941,0,20060301,2,1,171,0,0,16547,55830,30,1
2,16,1479563953,305197,48078,1,20140714,2,1,149,1,1,7665,2704,29,1
3,7,1480152098,900502,71521,0,20001030,0,0,240,0,1,1580,938,30,0
4,7,1478368974,542335,71718,0,20080215,0,0,150,0,1,1812,2939,24,1

In [3]:
x_cols = ['genre_id', 'user_id', 'context_type', 'ts_listen', 'release_date', 'platform_name', 'platform_family', 'media_duration', 'listen_type', 'user_gender']
y_col = 'is_listened'

In [4]:
alb_fans = pd.read_csv('./all.csv', encoding='utf-8')

In [5]:
print len(alb_fans['album_id'].unique())

145398

In [6]:
artist = pd.read_csv('./artist.csv', encoding='utf-8')

In [7]:
print len(artist['nb_fan'])

67099

In [8]:
new_train = pd.merge(train, artist, on="artist_id")

In [9]:
new_train.head()

,genre_id,ts_listen,media_id,album_id,context_type,release_date,platform_name,platform_family,media_duration,listen_type,user_gender,user_id,artist_id,user_age,is_listened,nb_fan,nb_album
0,25471,1480597215,222606,41774,12,20040704,1,0,223,0,0,9241,55164,29,0,32,1
1,25571,1480544735,250467,43941,0,20060301,2,1,171,0,0,16547,55830,30,1,6197,18
2,0,1478964096,135380630,14460010,2,20161111,1,0,216,0,0,10900,55830,29,1,6197,18
3,195,1478910507,77690708,7720479,0,20140505,1,2,200,0,1,4102,55830,19,0,6197,18
4,13,1478114933,243446,43216,1,20040901,1,0,191,1,0,8670,55830,30,0,6197,18

In [10]:
n = pd.merge(new_train, alb_fans, on="album_id")

In [11]:
n.head()

,genre_id,ts_listen,media_id,album_id,context_type,release_date,platform_name,platform_family,media_duration,listen_type,user_gender,user_id,artist_id,user_age,is_listened,nb_fan,nb_album,fans
0,25471,1480597215,222606,41774,12,20040704,1,0,223,0,0,9241,55164,29,0,32,1,5
1,25571,1480544735,250467,43941,0,20060301,2,1,171,0,0,16547,55830,30,1,6197,18,1139
2,0,1478964096,135380630,14460010,2,20161111,1,0,216,0,0,10900,55830,29,1,6197,18,21
3,195,1478910507,77690708,7720479,0,20140505,1,2,200,0,1,4102,55830,19,0,6197,18,748
4,13,1478114933,243446,43216,1,20040901,1,0,191,1,0,8670,55830,30,0,6197,18,881

In [12]:
x = ['genre_id', 'user_id', 'context_type', 'ts_listen', 'release_date', 'platform_name', 'platform_family', 'media_duration', 'listen_type', 'user_gender', 'artist_id', 'nb_fan', 'nb_album', 'fans', 'media_id', 'album_id']
y_col = 'is_listened'

In [13]:
import validation as v
train_i, validation_i = v.only_flow_split_train_validation_by_last_record(n)
Y_train = n.loc[train_i][y_col]
X_train = n.loc[train_i][x]

Y_validation = n.loc[validation_i][y_col]
X_validation = n.loc[validation_i][x]

In [14]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression()
clf = clf.fit(X_train, Y_train)

In [15]:
# validate
from sklearn.metrics import roc_auc_score
import numpy as np
Y_predicted = clf.predict_proba(X_validation)[:,1]
roc_auc_score(np.array(Y_validation), Y_predicted)

0.51193170860632287

In [19]:
path_to_test = './test.csv'
path_to_submission = './submission.csv'

test = pd.read_csv(path_to_test, encoding='utf-8', usecols=['sample_id', 'genre_id', 'user_id', 'context_type', 'ts_listen', 'release_date', 'platform_name', 'platform_family', 'media_duration', 'listen_type', 'user_gender'],index_col='sample_id')

#X_test = test[x_cols]
#Y_test = clf.predict_proba(X_test)[:,1]

#submission = pd.DataFrame(columns=['sample_id', 'is_listened'])
#submission['is_listened'] = Y_test
#submission['sample_id'] = test.index

#submission.to_csv(path_to_submission, encoding='utf-8', index=False)

# SVM

In [20]:
X_train.head()

,genre_id,user_id,context_type,ts_listen,release_date,platform_name,platform_family,media_duration,listen_type,user_gender,artist_id,nb_fan,nb_album,fans,media_id,album_id
8388608,0,1074,7,1478792157,20161028,2,1,356,1,0,813746,965,2,1914,134519744,14344074
8388609,0,1074,7,1478786151,20161028,2,1,279,1,0,813746,965,2,1914,134519738,14344074
4,13,8670,1,1478114933,20040901,1,0,191,1,0,55830,6197,18,881,243446,43216
6,13,674,1,1480059930,20040901,0,0,191,1,0,55830,6197,18,881,243446,43216
14,13,41,1,1478014596,20040901,2,1,191,1,0,55830,6197,18,881,243446,43216

In [22]:
from sklearn.svm import LinearSVR

In [24]:
clf = LinearSVR(C=1.0, epsilon=0.2)
clf.fit(X_train, Y_train)

LinearSVR(C=1.0, dual=True, epsilon=0.2, fit_intercept=True,
     intercept_scaling=1.0, loss='epsilon_insensitive', max_iter=1000,
     random_state=None, tol=0.0001, verbose=0)

In [26]:
from sklearn.metrics import roc_auc_score
import numpy as np
Y_predicted = clf.predict(X_validation)
roc_auc_score(np.array(Y_validation), Y_predicted)

0.5

In [28]:
x_cols = ['genre_id', 'user_id', 'context_type', 'ts_listen', 'release_date', 'platform_name', 'platform_family', 'media_duration', 'listen_type', 'user_gender']
y_col = 'is_listened'

train_i, validation_i = v.only_flow_split_train_validation_by_last_record(train)
Y = train.loc[train_i][y_col]
X = train.loc[train_i][x_cols]

Y_validation = train.loc[validation_i][y_col]
X_validation = train.loc[validation_i][x_cols]

In [37]:
cl = LinearSVR(C=0.8, epsilon=0.3, dual=False, fit_intercept=True,
     intercept_scaling=1.0, loss='squared_epsilon_insensitive', max_iter=1000,
     random_state=None, tol=0.0001, verbose=0)
cl.fit(X, Y)

LinearSVR(C=0.8, dual=False, epsilon=0.3, fit_intercept=True,
     intercept_scaling=1.0, loss='squared_epsilon_insensitive',
     max_iter=1000, random_state=None, tol=0.0001, verbose=0)

In [38]:
Y_pred = cl.predict(X_validation)
roc_auc_score(np.array(Y_validation), Y_pred)

0.57716117104467424

SVC
(Linear Support Vector Classification)

Similar to SVC with parameter kernel=’linear’, but implemented in terms of liblinear rather than libsvm, so it has more flexibility in the choice of penalties and loss functions and should scale better to large numbers of samples.

In [66]:
from sklearn.svm import LinearSVC
svc = LinearSVC(penalty='l2', loss='squared_hinge', dual=True, tol=0.0001, C=0.6, 
          multi_class='crammer_singer', fit_intercept=True, intercept_scaling=1, 
          class_weight=None, verbose=0, random_state=None, max_iter=1000)

In [ ]:
svc.fit(X, Y)