In [1]:
import pandas as pd

path_to_train = './data/train.csv'
path_to_test = './data/test.csv'

categorical_features = ['listen_type', 
                        'genre_id', 
                        'album_id', 
                        'context_type',
                        'platform_name',
                        'artist_id']

train = pd.read_csv(path_to_train, encoding='utf-8', usecols=['user_id', 'ts_listen', 'is_listened'] + categorical_features)
test = pd.read_csv(path_to_test, encoding='utf-8', usecols=['user_id', 'ts_listen'] + categorical_features)
test['is_listened'] = 0 # просто щоб зібрати, ми будемо використовувати попередні значення

path_to_test_ts_listen = './data/features/ts_listen.test.csv'
path_to_train_ts_listen = './data/features/ts_listen.train.csv'
categorical_features_time = ['ts_listen_dayofweek', 
                            'ts_listen_hour']

test_ts_listen = pd.read_csv(path_to_test_ts_listen, encoding='utf-8', usecols=categorical_features_time)
train_ts_listen = pd.read_csv(path_to_train_ts_listen, encoding='utf-8', usecols=categorical_features_time)

test = pd.concat([test, test_ts_listen], axis=1)
train = pd.concat([train, train_ts_listen], axis=1)

df = pd.concat([train, test], ignore_index=True)
df.tail()

,genre_id,ts_listen,album_id,context_type,platform_name,listen_type,user_id,artist_id,is_listened,ts_listen_dayofweek,ts_listen_hour
7578747,0,1479664431,14226364,5,0,1,12641,9285528,0,6,17
7578748,0,1480358099,14226364,1,0,1,10055,9285528,0,0,18
7578749,0,1480616853,14581358,1,0,1,1029,129,0,3,18
7578750,0,1479644510,14581358,1,0,1,4630,129,0,6,12
7578751,0,1480491885,14581358,1,1,1,6467,129,0,2,7

In [4]:
def mean_cum_by_category_by_user(df, category):
    df.sort_values(by=['user_id', 'ts_listen', category], axis=0, inplace=True)
    
    is_listened_cumsum = df.groupby(['user_id',category]).agg({'is_listened':'cumsum'})['is_listened']
    
    cumcount = df.groupby(['user_id',category]).cumcount() + 1
    
    column_name = category+"_cumulative_mean"
    
    df[column_name] = (is_listened_cumsum/cumcount).shift()
    
    fi = df.groupby(['user_id',category], as_index=False).apply(lambda x: x.index[0])
    
    df.ix[fi, column_name] = 0
    
    return column_name

In [ ]:
new_cols = [mean_cum_by_category_by_user(df, category) for category in categorical_features+categorical_features_time]
df.head()