In [2]:
import pandas as pd

path_to_train = './data/train.csv'
path_to_test = './data/test.csv'

train = pd.read_csv(path_to_train, encoding='utf-8', usecols=['user_id', 'ts_listen',  'is_listened'])
test = pd.read_csv(path_to_test, encoding='utf-8', usecols=['user_id', 'ts_listen'])
test['is_listened'] = 0 # просто щоб зібрати, ми будемо використовувати попередні значення

df = pd.concat([train, test], ignore_index=True)
df.tail()

          ts_listen  listen_type  user_id  is_listened
7578747  1479664431            1    12641            0
7578748  1480358099            1    10055            0
7578749  1480616853            1     1029            0
7578750  1479644510            1     4630            0
7578751  1480491885            1     6467            0

In [3]:
df = df.sort_values(by=['user_id', 'ts_listen'], axis=0)
df.tail()

          ts_listen  listen_type  user_id  is_listened
7575803  1478016326            1    19915            0
569368   1477512816            0    19916            1
7563826  1478017434            1    19916            0
4791398  1477926978            0    19917            1
7565747  1478009685            1    19917            0

In [10]:
by_user_count = df.groupby('user_id', as_index=False).agg({'ts_listen':'count'})
_2records_users = by_user_count[by_user_count['ts_listen'] == 2]['user_id']

In [14]:
df['is_listened_prev'] = df['is_listened'].shift(1)
fi = df.groupby('user_id', as_index=False).apply(lambda x: x.index[0])
df.ix[fi, 'is_listened_prev'] = -100

df['is_listened_prev2'] = df['is_listened'].shift(2)
fi2 = df.groupby('user_id', as_index=False).apply(lambda x: x.index[1])
df.ix[fi2, 'is_listened_prev2'] = -100
df.ix[fi, 'is_listened_prev2'] = -100

df['is_listened_prev3'] = df['is_listened'].shift(3)
fi3 = df[~df['user_id'].isin(_2records_users)].groupby('user_id', as_index=False).apply(lambda x: x.index[2])
df.ix[fi3, 'is_listened_prev3'] = -100
df.ix[fi2, 'is_listened_prev3'] = -100
df.ix[fi, 'is_listened_prev3'] = -100
df.ix[df['user_id'].isin(_2records_users), 'is_listened_prev3'] = -100

df.head()

,ts_listen,listen_type,user_id,is_listened,is_listened_prev,is_listened_prev2,is_listened_prev3
682493,1477939775,0,0,1,-100.0,-100.0,-100.0
4454939,1477982531,0,0,0,1.0,-100.0,-100.0
5354523,1477982561,0,0,0,0.0,1.0,-100.0
5899458,1477982582,0,0,1,0.0,0.0,1.0
4716574,1477982792,0,0,1,1.0,0.0,0.0

In [15]:
df.tail()

,ts_listen,listen_type,user_id,is_listened,is_listened_prev,is_listened_prev2,is_listened_prev3
7575803,1478016326,1,19915,0,1.0,-100.0,-100.0
569368,1477512816,0,19916,1,-100.0,-100.0,-100.0
7563826,1478017434,1,19916,0,1.0,-100.0,-100.0
4791398,1477926978,0,19917,1,-100.0,-100.0,-100.0
7565747,1478009685,1,19917,0,1.0,-100.0,-100.0

In [16]:
df = df.sort_index()
df.tail()

,ts_listen,listen_type,user_id,is_listened,is_listened_prev,is_listened_prev2,is_listened_prev3
7578747,1479664431,1,12641,0,1.0,0.0,0.0
7578748,1480358099,1,10055,0,1.0,1.0,1.0
7578749,1480616853,1,1029,0,1.0,1.0,1.0
7578750,1479644510,1,4630,0,1.0,1.0,1.0
7578751,1480491885,1,6467,0,1.0,1.0,1.0

In [1]:
path_to_test_prev_is_listened = './data/features/prev_is_listened.test.csv'
path_to_train_prev_is_listened = './data/features/prev_is_listened.train.csv'
new_cols = [
    'is_listened_prev', 
    'is_listened_prev2', 
    'is_listened_prev3'
]

In [ ]:
test_cumsum = df.iloc[range(len(train), len(train)+len(test))][new_cols]
test_cumsum.to_csv(path_to_test_prev_is_listened, encoding='utf-8', index=False)

train_cumsum = df.iloc[range(len(train))][new_cols]
train_cumsum.to_csv(path_to_train_prev_is_listened, encoding='utf-8', index=False)

------

In [1]:
import pandas as pd

path_to_train = './data/train.csv'
path_to_test = './data/test.csv'

train = pd.read_csv(path_to_train, encoding='utf-8', usecols=['user_id', 'ts_listen',  'is_listened'])
test = pd.read_csv(path_to_test, encoding='utf-8', usecols=['user_id', 'ts_listen'])
test['is_listened'] = 0 # просто щоб зібрати, ми будемо використовувати попередні значення

df = pd.concat([train, test], ignore_index=True)
df.tail()

          ts_listen  user_id  is_listened
7578747  1479664431    12641            0
7578748  1480358099    10055            0
7578749  1480616853     1029            0
7578750  1479644510     4630            0
7578751  1480491885     6467            0

In [2]:
df = df.sort_values(by=['user_id', 'ts_listen'], axis=0)
df.tail()

          ts_listen  user_id  is_listened
7575803  1478016326    19915            0
569368   1477512816    19916            1
7563826  1478017434    19916            0
4791398  1477926978    19917            1
7565747  1478009685    19917            0

In [3]:
df['is_listened_prev'] = df['is_listened'].shift(1)
df['ts_listen_prev'] = df['ts_listen'].shift(1)

fi = df.groupby('user_id', as_index=False).apply(lambda x: x.index[0])
df.ix[fi, 'is_listened_prev'] = 0
df.ix[fi, 'ts_listen_prev'] = 0

df.head()

          ts_listen  user_id  is_listened  is_listened_prev  ts_listen_prev
682493   1477939775        0            1               0.0    0.000000e+00
4454939  1477982531        0            0               1.0    1.477940e+09
5354523  1477982561        0            0               0.0    1.477983e+09
5899458  1477982582        0            1               0.0    1.477983e+09
4716574  1477982792        0            1               1.0    1.477983e+09

In [6]:
time_window = 5*60 #5 minutes
df['was_is_listened_before'] = ((df['ts_listen']-df['ts_listen_prev']) < time_window * df['is_listened_prev']).astype(int)
df.head(20)

,ts_listen,user_id,is_listened,is_listened_prev,ts_listen_prev,was_is_listened_before
682493,1477939775,0,1,0.0,0.000000e+00,0
4454939,1477982531,0,0,1.0,1.477940e+09,0
5354523,1477982561,0,0,0.0,1.477983e+09,0
5899458,1477982582,0,1,0.0,1.477983e+09,0
4716574,1477982792,0,1,1.0,1.477983e+09,1
2859238,1477982978,0,1,1.0,1.477983e+09,1
3796053,1477983184,0,1,1.0,1.477983e+09,1
1209271,1477983362,0,1,1.0,1.477983e+09,1
6888438,1477983546,0,1,1.0,1.477983e+09,1
6714892,1477983730,0,1,1.0,1.477984e+09,1
2385846,1477983948,0,1,1.0,1.477984e+09,1
3706435,1477984216,0,1,1.0,1.477984e+09,1
5975959,1477984413,0,1,1.0,1.477984e+09,1
3731309,1477984637,0,1,1.0,1.477984e+09,1
1215946,1477984848,0,1,1.0,1.477985e+09,1
359223,1477985063,0,1,1.0,1.477985e+09,1
5269814,1477985262,0,1,1.0,1.477985e+09,1
2398233,1477985450,0,1,1.0,1.477985e+09,1
5733778,1477985632,0,1,1.0,1.477985e+09,1
6726732,1477985830,0,1,1.0,1.477986e+09,1

In [7]:
df = df.sort_index()
df.tail()

,ts_listen,user_id,is_listened,is_listened_prev,ts_listen_prev,was_is_listened_before
7578747,1479664431,12641,0,1.0,1.479664e+09,1
7578748,1480358099,10055,0,1.0,1.480321e+09,0
7578749,1480616853,1029,0,1.0,1.480616e+09,0
7578750,1479644510,4630,0,1.0,1.479590e+09,0
7578751,1480491885,6467,0,1.0,1.480445e+09,0

In [13]:
from scipy.stats.stats import pearsonr 

pearsonr(df['is_listened'], df['was_is_listened_before'])

(0.41399947635512718, 0.0)

In [8]:
path_to_test_prev_is_listened = './data/features/prev_is_listened.test.csv'
path_to_train_prev_is_listened = './data/features/prev_is_listened.train.csv'
new_cols = [
    'was_is_listened_before'
]

In [9]:
test_cumsum = df.iloc[range(len(train), len(train)+len(test))][new_cols]
test_cumsum.to_csv(path_to_test_prev_is_listened, encoding='utf-8', index=False)

train_cumsum = df.iloc[range(len(train))][new_cols]
train_cumsum.to_csv(path_to_train_prev_is_listened, encoding='utf-8', index=False)

------

In [10]:
import validation as v
import pandas as pd

path_to_train = './data/train.csv'

train = pd.read_csv(path_to_train, encoding='utf-8')
train_prev_is_listened = pd.read_csv(path_to_train_prev_is_listened, encoding='utf-8')

train = pd.concat([train, train_prev_is_listened], axis=1)
train.head()

,genre_id,ts_listen,media_id,album_id,context_type,release_date,platform_name,platform_family,media_duration,listen_type,user_gender,user_id,artist_id,user_age,is_listened,was_is_listened_before
0,25471,1480597215,222606,41774,12,20040704,1,0,223,0,0,9241,55164,29,0,0
1,25571,1480544735,250467,43941,0,20060301,2,1,171,0,0,16547,55830,30,1,1
2,16,1479563953,305197,48078,1,20140714,2,1,149,1,1,7665,2704,29,1,1
3,7,1480152098,900502,71521,0,20001030,0,0,240,0,1,1580,938,30,0,0
4,7,1478368974,542335,71718,0,20080215,0,0,150,0,1,1812,2939,24,1,0

In [14]:
path_to_folds = './data/lightgbm/prev_is_listened'

In [15]:
v.generate_validation_folds(train, path_to_folds)

Fold 1

In [21]:
import model_lgbm as mlgbm

cols = [
    'genre_id', 
    #'media_id', 
    #'album_id', 
    'context_type',
    'release_date', 
    'platform_name', 
    'platform_family', 
    'media_duration',
    'listen_type',
    'user_gender', 
    'user_id',
    #'artist_id', 
    'user_age'
] + new_cols

params = {
    'application':'binary',
    'num_leaves': 24,
    'max_depth': 15,
    'feature_fraction': 0.7,
    'bagging_fraction': 0.7,
    'max_bin': 80,
    'metric': 'auc',
    'verbose': 1
}

In [20]:
evs = mlgbm.crossvalidate_model(path_to_folds,cols,params,validate_on_both=True, iterations=100)

[1]	training's auc: 0.65584	valid_1's auc: 0.577661
[2]	training's auc: 0.659467	valid_1's auc: 0.568834
[3]	training's auc: 0.668424	valid_1's auc: 0.562379
[4]	training's auc: 0.675337	valid_1's auc: 0.559936
[5]	training's auc: 0.678523	valid_1's auc: 0.559502
[6]	training's auc: 0.677608	valid_1's auc: 0.558159
[7]	training's auc: 0.678309	valid_1's auc: 0.558519
[8]	training's auc: 0.679696	valid_1's auc: 0.559659

KeyboardInterrupt:

In [18]:
mlgbm.feature_score(evs[1],cols)

[('user_id', 701),
 ('context_type', 486),
 ('user_age', 203),
 ('genre_id', 188),
 ('release_date', 140),
 ('media_duration', 134),
 ('platform_family', 131),
 ('platform_name', 126),
 ('user_gender', 69),
 ('listen_type', 63),
 ('was_is_listened_before', 59)]

In [22]:
path_to_sample = './data/sample_submission_kaggle.csv'
path_to_submission = './data/submission.csv'
path_to_test = './data/test.csv'

test = pd.read_csv(path_to_test, encoding='utf-8')
test = pd.concat([test, pd.read_csv(path_to_test_prev_is_listened, encoding='utf-8')], axis=1)

test.head()

,sample_id,genre_id,ts_listen,media_id,album_id,context_type,release_date,platform_name,platform_family,media_duration,listen_type,user_gender,user_id,artist_id,user_age,was_is_listened_before
0,0,50,1478104371,683078,82356,1,20021008,0,0,542,1,0,17698,2076,30,1
1,1,2744,1479317140,876497,99692,1,19851231,0,0,307,1,0,10525,26,28,0
2,2,2744,1479546361,876497,99692,1,19851231,0,0,307,1,0,8716,26,27,0
3,3,2744,1478457729,876500,99692,1,19851231,2,1,265,1,0,5443,26,30,0
4,4,2744,1480448560,876504,99692,1,19851231,2,1,356,1,0,7600,26,29,0

In [ ]:
fs = mlgbm.create_submission(train, test, path_to_sample, params, cols, path_to_submission, iterations=400)

In [ ]:
mlgbm.feature_score(fs,cols)